body{
	margin: 0px auto;
	width: 600px;
	height: 600px;
	border: 1px solid pink;
}
.div1,.div2,.div3,.div4{
	margin-top:10px;
	margin-left:10px;
	width:150px;
	height:100px;
	border: 1px solid blue;
	background-color: pink;
}

.div1{
	float: left;
}

.div1_1{
	height: 120px;
}

