/*.style1就是类选择器*/
.style1{
	font-weight: bold;
	font-size:20px;
	background-color: pink;
}

/*#style2就是ID选择器*/
#style2{
	font-size: 30px;
	background-color: silver;
}

/*使用通配符选择器，对外边距和内边距清零*/
*{
	/*margin: 0;*/
	margin:10px 0px 0px 10px;/*上、右、下、左*/
	/*margin:10px 0px 0px /*上下、右、左*/*/

	padding: 0;/*padding规范和margin规范是一样的*/
}