/*.style1就是类选择器*/
.style1{
	font-weight: bold;
	font-size:20px;
	background-color: pink;
	color:black;
}

#special_new{
	font-style: italic;
	color:red;
}

/*#style2就是ID选择器*/
#style2{
	font-size: 30px;
	background-color: silver;
	color:black;
}

/*父子选择器*/
#style2 span{
	font-style:italic;
	color:red;
}

/*html的选择器*/
body{
	color:orange;
}

/*使用通配符选择器，对外边距和内边距清零*/
*{
	margin: 0;
	padding: 0;
}

